@font-face {
  font-family: "iconfont"; /* Project id 5167546 */
  src: url('iconfont.woff2?t=1777281668863') format('woff2'),
       url('iconfont.woff?t=1777281668863') format('woff'),
       url('iconfont.ttf?t=1777281668863') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e62b";
}

.icon-guanbi:before {
  content: "\e676";
}

.icon-relieve-full:before {
  content: "\e9ba";
}

.icon-fuzhi:before {
  content: "\e6c5";
}

.icon-image:before {
  content: "\e626";
}

.icon-shezhi:before {
  content: "\e6b6";
}

.icon-a-MATE_huaban1fuben31:before {
  content: "\e60e";
}

