@font-face {
  font-family: "iconfont"; /* Project id 5167546 */
  src: url('iconfont.woff2?t=1781505148913') format('woff2'),
       url('iconfont.woff?t=1781505148913') format('woff'),
       url('iconfont.ttf?t=1781505148913') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixuanzhongyuandian:before {
  content: "\e831";
}

.icon-xuanzhongyuandian:before {
  content: "\e61f";
}

.icon-icon-arrow-top2:before {
  content: "\e665";
}

.icon-icon-arrow-bottom2:before {
  content: "\e666";
}

.icon-qingkong:before {
  content: "\e62e";
}

.icon-niantie:before {
  content: "\e63f";
}

.icon-OCR:before {
  content: "\e6a5";
}

.icon-onedrive:before {
  content: "\e601";
}

.icon-icloud:before {
  content: "\ebc8";
}

.icon-erweima:before {
  content: "\e605";
}

.icon-filetobase64:before {
  content: "\e66e";
}

.icon-quanwenpaiban:before {
  content: "\e6db";
}

.icon-url:before {
  content: "\e6da";
}

.icon-xiazaijson:before {
  content: "\e819";
}

.icon-youxiang:before {
  content: "\e604";
}

.icon-24gf-phoneBook:before {
  content: "\e966";
}

.icon-wenjianjiazhankai:before {
  content: "\e60f";
}

.icon-zuhe:before {
  content: "\e61e";
}

.icon-duowenjiankuai:before {
  content: "\e68a";
}

.icon-zhifeiji:before {
  content: "\e919";
}

.icon-jinzhi:before {
  content: "\e6a7";
}

.icon-guanbi:before {
  content: "\e7b7";
}

.icon-a-shuqian1:before {
  content: "\ec07";
}

.icon-wenjiantupian:before {
  content: "\e646";
}

.icon-yanse:before {
  content: "\e610";
}

.icon-bianji:before {
  content: "\e648";
}

.icon-querenkuang:before {
  content: "\e611";
}

.icon-beizhu:before {
  content: "\e606";
}

.icon-fuzhi1:before {
  content: "\e600";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-guding1:before {
  content: "\e633";
}

.icon-favorites:before {
  content: "\e68d";
}

.icon-buoumaotubiao44:before {
  content: "\e630";
}

.icon-icon-sousuo:before {
  content: "\e688";
}

.icon-lianjie:before {
  content: "\e6d7";
}

.icon-fuwenben:before {
  content: "\e6ae";
}

.icon-fanhui:before {
  content: "\e62b";
}

.icon-image:before {
  content: "\e626";
}

.icon-shezhi:before {
  content: "\e6b6";
}

.icon-a-MATE_huaban1fuben31:before {
  content: "\e60e";
}

